body {
    background-color: rgb(69, 69, 69);
}
div{
    color: rgb(141, 141, 141);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
canvas {
    background-color: #fff;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}